$danger:#e21313;
$dark-danger:#c2060b;
$disabled:#c0c0c8;

$primary:#1578D8;
$dark-primary:#0f82d1;
$light-gray:#e6e6e6;
$gray:#999999;
$dark-gray:#333333;
$green:#6db247;
$bg:#efeef4;
$imgSrc: "../../assets/img/";


//app重构色
$app-primary:#1578D8;
$app-txt-color:#4E616D;
$app-txt-color-strong:#103D52;
$app-txt-color-gray:#A2ACB2;
$app-txt-color-danger: #FC514E;

//券底色
$coupon-color-16:#FFC254; //满减券颜色
$coupon-color-17:#26b4fa;//加息券颜色
$coupon-color-disabled:#A2ACB2;//券失效