@import 'global';
.header{
    box-sizing: border-box;
    width: 100%;
    .top_menu_bar{
        width: 100%;
        background: #f4f5f6;
        height: p2r(38);
        overflow-y: hidden;
        .top_menu_list{
            font-size: p2r(18);
            overflow: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            &::-webkit-scrollbar{
                display: none;
            }
            a{
                white-space: nowrap;
                color: #505050;
                display: inline-block;
                height: p2r(38);
                line-height: p2r(38);
                padding:0 p2r(12);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
                font-weight: 500;
                &.active{
                    color: red;
                }
            }
        }
    }
}
