@import 'global';
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.article-box{
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    .bobox{
        height: 100%;
        .loadingTips{
            text-align: center;
            font-size: p2r(12);
        }
    }
}

.sticky{
    z-index: 3;
    background-color: rgb(88, 144, 255);
    color: red;
    transform: translateZ(0px);
    position: fixed;
    top:p2r(50);
    left: 0px;
    width: 358px;
}
.liveRow{
    padding: p2r(7);
    font-size: p2r(12);
    line-height: p2r(20);
    .liveRowHeader{
        color:#33a3f4;
    }
    .liveRowBody{
        h4{
            margin:0;
            padding:p2r(5) 0;
            font-weight: normal;
            color:#333;
            line-height: 1;
        }
        border-top: 1px solid #ccc;
        padding: p2r(7) 0;
        color:#666;
    }
    .liveRowFooter{
        color:#999;
        font-size: p2r(12);
        line-height: p2r(12);
        .good{
            color:red;
        }
        .bad{
            color: green;
        }
    }
}