@import 'global';
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.article-box{
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    .bobox{
        height: 100%;
        .loadingTips{
            text-align: center;
            font-size: p2r(12);
        }
    }
}

.sticky{
    z-index: 3;
    background-color: rgb(88, 144, 255);
    color: red;
    transform: translateZ(0px);
    position: fixed;
    top:p2r(50);
    left: 0px;
    width: 358px;
}