@import 'global';


.user-info{
    text-align: center;
    background:#6fa4ff;
    padding:20px;
    img{
        width: 60px;
        height: 60px;
        border:solid 2px #fff;
        border-radius: 50%;
    }
    p{
        margin:0;
        font-size: 12px;
        margin-top:10px;
        color:#fff;
        b{
            font-size: 15px;
        }
    }
}
.user-list{
    .iconfont{
        font-size: 20px;
        color: #9cc0fb;
    }
    .am-list-item{
        height: 50px;
        .am-list-line{
            .am-list-content{
                color:#4c4c4c;
                font-size: 15px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    } 
}

/*注册登录*/
.myForm{
    .mt20{
        margin-top: 20px;
    }
    .am-list-item.am-input-item{
        height: 50px;
    }
    .am-list-item{
        .am-input-label.am-input-label-5{
            width: 30px;
            color: #32a3f5;
            .iconfont{
                font-size: 20px;
            }
        }
    } 
}

.getCodeBtn{
    border-color: #eee;
    font-size: p2r(14);
    color:#333;
    background: #eee;
    border-radius: 0;
}
.getCodeBtnAct{
    font-size: p2r(14);
    color:#000;
    border-radius: 0;
}