@import 'global';
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.article-box{
    position: absolute;
    top:p2r(32);
    left:0;
    right: 0;
    bottom:0;
    .bobox{
        height: 100%;
        .loadingTips{
            text-align: center;
            font-size: p2r(12);
        }
    }
}
